<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Available for Hire</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Users Available for Hire</h1>
    <ul>
      {{#robots}}
      <li>
        {{#avatar}}
          <img src={{avatar}} alt="suppose to be an avatar.">
        {{/avatar}}
        {{^avatar}}
        <img src="./public/download.png" alt="Image of Robot suppose to go here.">{{/avatar}}
        <a href="/robots/{{id}}/">{{username}}</a>
        {{#job}}
          <p>{{job}}, {{company}}</p>
        {{/job}}
        {{^job}}
          <p class="forHire">Available for hire</p>
        {{/job}}
      </li>
    {{/robots}}
    </ul>
  </body>
</html>
