<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UserPage</title>
  </head>
  <body>
    <a href="/robotDelete/{{id}}">Delete</a>
    <div class="personalInfo">
      {{#robots}}
        {{#avatar}}
          <img src={{avatar}} alt="suppose to be an avatar.">
        {{/avatar}}
        {{^avatar}}
          <img src="./public/download.png" alt="Image of Robot suppose to go here.">
        {{/avatar}}
        <h1>{{username}}</h1>
        {{#address}}<p class="currentLinving">{{address}} </p>{{/address}}
        {{#job}}<p class="career">{{Job}}, {{Company}}</p>{{/job}}
        {{^job}}<p class="forHire">Available for hire</p>{{/job}}
        <p class="communication">{{Email}}, {{Phone}}</p>
        {{#university}} <p class="userSchool">Education: {{university}}</p>{{/university}}
        {{^university}}<p class="userSchool"></p>{{/university}}
      {{/robots}}
    </div>
  </body>
</html>
